* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
body {
    background: #000;
}

.cv {
    width: 490px;
    height: 700px;
    margin: 50px auto;
    position: relative;
    border: 1px solid #ffffff5a;
// up ------------------------------------------------------
    &_up {
        width: 100%;
        height: 110px;

        &_photo {
            width: 100%;
            height: 110px;
            background: url("../assets/bacgroundImg.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &_ProfilPhoto {
            width: 90px;
            height: 90px;
            position: absolute;
            top: 65px;
            left: 60px;
    
            
            &::before {
                content: "";
                position: absolute;
                inset: -7px;
                border-top: 4px solid #ffffff;
                border-bottom: 4px solid #000000;
                border-radius: 50%;
            }
            
            
            &_img {
                width: 90px;
                height: 90px;
                border: 1px solid #fff;
                border-radius: 50px;
            }
        }
    }
// down---------------------------------------------
    &_down {
        background-color: #e3e3e3;
        width: 100%;
        height: 590px;
        display: grid;
        grid-template-columns: 3fr 4fr;

        &_left {
            background-color: #d0d0d086;
            padding: 2% 2%;
            display: flex;
            flex-direction: column;
            align-items: start;

            &-head {
                width: 100%;
                text-align: center;
                margin-top: 60px;
                font-size: 20px;
                font-weight: 600;
            }

            &-adress {
                width: 100%;
                padding: 0 2%;
                padding-top: 10px;
                background-color: transparent;

                &-item {
                    margin-top: 8px;
                    display: flex;
                    align-items: center;
                    
                    &-icon {
                        width: 21px;
                        height: 21px;
                        margin: 0 5px 0 0;
                    }
                    &-text {
                        font-size: 10px;
                    }
                }
            }

            &-skills {
                width: 100%;
                padding: 2% 2%;
                background-color: transparent;
                display: flex;
                flex-direction: column;
                row-gap: 10px;

                &-head {
                    margin: 0 0 5px 0;
                    font-size: 17px;
                    font-weight: 600;
                }

                &-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &-text {
                        font-size: 10px;
                    }
                    &-line {
                        width: 70px;
                        height: 5px;
                        background-color: #6c6c6c;

                        &-fill {
                            display: block;
                            height: 5px;
                            width: 0;
                            background-color: #000000;
                            transition: 0.5s linear;
                        }
                    }
                }
            }
            &-software {
                width: 100%;
                padding: 2% 2%;
                background-color: transparent;
                display: flex;
                flex-direction: column;

                &-head {
                    margin: 0 0 15px 0;
                    font-size: 17px;
                    font-weight: 600;
                }
                &-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &-text {
                        font-size: 10px;
                    }
                    &-line {
                        width: 70px;
                        height: 5px;
                        background-color: #6c6c6c;

                        &-fill {
                            display: block;
                            height: 5px;
                            width: 0;
                            background-color: #000000;
                            transition: 0.5s linear;
                        }
                    }
                }
            }

            &-award {
                padding: 2% 2%;

                &-head {
                    margin: 0 0 15px 0;
                    font-size: 17px;
                    font-weight: 600;
                }
                &-block {
                    margin-bottom: 15px;

                    &-info {
                        font-size: 10px;
                        font-weight: 600;
                    }
                }
            }
        }



        &_right {
            background-color: #ffffff;
            padding: 2% 2%;
            display: flex;
            flex-direction: column;
            align-items: start;

            &-about {
                margin-top: 20px;
                width: 100%;
                height: 110px;

                &-head {
                    margin: 0 0 10px 0;
                    font-size: 17px;
                    font-weight: 600;
                }
                &-info {
                    font-size: 12px;
                    font-weight: 500;
                }
            }
            &-work {
                width: 100%;

                &-head {
                    margin: 0 0 10px 0;
                    font-size: 17px;
                    font-weight: 600;
                }
                &-block {
                    margin-top: 15px;

                    &-name {
                        font-size: 11px;
                        font-weight: 700;
                    }
                    &-years {
                        font-size: 12px;
                        font-weight: 500;
                    }
                    &-info {
                        font-size: 13px;
                        font-weight: 500;
                    }
                }
            }

            &-education {
                padding-top: 15px;
                width: 100%;

                &-head {
                    margin: 0 0 10px 0;
                    font-size: 17px;
                    font-weight: 600;
                }
                &-block {
                    margin-top: 15px;

                    &-name {
                        font-size: 11px;
                        font-weight: 700;
                    }
                    &-years {
                        font-size: 12px;
                        font-weight: 500;
                    }
                    &-info {
                        font-size: 13px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}